<div style="width: 150px; padding-top: 10px; padding-bottom: 10px; vertical-align: top">
      <div class="needLeftMenu">
        <a href="/need">All (12)</a>
      </div>
      <div class="needLeftMenu">
        Selected (2)
      </div>
      <div class="needLeftMenu">
        Not Selected (2)
      </div>
      <div class="needLeftMenu">
        Expired (2)
      </div>   
  </div>
